
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="components.css" />
    <title>Gallery</title>
    <link rel="icon" type="image/x-icon" href="logo/logo2.gif" />
  </head>

  
  <body>
   <!-- Navigation Bar -->
    <header id="main-header">
      <div id="main-header-logo">
        <a href="../main page/main.html">
          <img src="logo/logo2.gif" alt="Logo" />
        </a>
      </div>

      <nav id="nav-bar">
        <ul>
          <li><a href="../main page/main.html">HOME</a></li>
          <li><a href="../components/components.html" class="active">COMPONENTS</a></li>
          <li><a href="../shop/shop.html">SHOP</a></li>
          <li><a href="../feedback/feedback.html">ORDERS</a></li>
          <li><a href="../about us/AboutUs.html">ABOUT US</a></li>
          <li><a href="../sitemap/SiteMap.html">SITE MAP</a></li>
        </ul>
      </nav>
    </header>

    <h1>Circuit board components list</h1>
    <br>
    <br>

    <div class="image-container-wrapper">
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/capacit.jpg" alt="Image 1" />
        <span class="image-label">Capacitors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/diodes.jpg" alt="Image 2" />
        <span class="image-label">Diodes</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/resistors.jpg" alt="Image 3" />
        <span class="image-label">Resistors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/trans.jpg" alt="Image 4" />
        <span class="image-label">Transistors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/inductor.jpg" alt="Image 5" />
        <span class="image-label">Inductors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/intrgra cir.jpg" alt="Image 6"/>
        <span class="image-label">Integrated Circuits</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/transfor.jpg" alt="Image 7" />
        <span class="image-label">Transformers</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/battery.jpg" alt="Image 8" />
        <span class="image-label">Batteries</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/sensors.jpg" alt="Image 9" />
        <span class="image-label">Sensors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/fuses.jpg" alt="Image 10" />
        <span class="image-label">Fuses</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/conectors.jpg" alt="Image 11" />
        <span class="image-label">Connectors</span>
      </div>
      <div class="image-container image-container-zoom">
        <img class="header-image" src="image/led.jpg" alt="Image 12" />
        <span class="image-label">LED</span>
      </div>
    </div>

    <map name="map1">
      <area
        shape="rect"
        coords="0,0,200,200"
        alt="Image in the box"
      />
    </map>

    <div class="paragraph-container">
      <img
        src="image/fasiliti.jpg"
        alt="Image in the box"
        class="box-image"
        usemap="#map1"
      />
      <h3>FACILITIES:</h3>
      <p>
        It is no secret that printed circuit boards are the backbone of electronic devices.
         You will most find them in everyday electronics from smartphones and household appliances. 
         They house essential electronic components and allow various parts of the device to communicate, 
         which is required for these devices to properly function. Though they underpin much of our modern 
         lifestyle, many people don't consider the technology that makes them function ! 
         <br>
         <br>
         Familiarizing yourself with the printed circuit board and its components is essential to understanding 
         how modern electronic devices work. Diodes, transistors, resistors, and capacitors: each one of these 
         printed circuit board components has vital functions, without which not only PCBs but modern devices won't be able to 
         function.
         <br>
         <br>
        Throughout this beginner's guide, we will thoroughly discuss PCBs, their electronic components and their functions, 
        and how all the components of the PCB come together to make modern electronics possible. We'll also give you detailed 
        breakdowns of the active parts (such as the integrated circuits), their functions, characteristics, and their applications.
      </p>
    </div>

    <div class="buttons-container">
      <button id="colorDarkButton" class="moonlight-button">
        <i class="fas fa-moon"></i> Moon Light
      </button>
      <button id="colorLightButton" class="sunrise-button">
        <i class="fas fa-sun"></i> Sun Rise
      </button>
      <button id="colorRandomButton" class="rainbow-button">
        <i class="fas fa-rainbow"></i> Rainbow
      </button>
      <button id="increaseFontButton" class="grow-button">
        <i class="fas fa-search-plus"></i> Grow
      </button>
      <button id="decreaseFontButton" class="shrink-button">
        <i class="fas fa-search-minus"></i> Shrink
      </button>
    </div>

     <!-- FOOTER SECTION -->
     <footer>
      <div class="footer-content">
        <div class="footer-row">
          <div class="contact-us">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <i class="fa-solid fa-phone"></i>
                &nbsp;&nbsp; +94 741459661
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i> <br>
                No 102/0/5, <br>Dagonna rd, <br>
                Minuwangoda, Sri Lanka
              </li>
              <li>
                <i class="fa-solid fa-envelope"></i>
                &nbsp;&nbsp;anjanasenath@gmail.com
              </li>
            </ul>
          </div>
          <div>
            <h3>Pages</h3>
            <ul>
              <li><a href="../main page/main.html">Home</a></li>
              <li><a href="../components/components.html">Components</a></li>
              <li><a href="../shop/shop.html">Shop</a></li>
              <li><a href="../feedback/feedback.html">ORDERS</a></li>
              <li><a href="../about us/AboutUs.html">About Us</a></li>
              <li><a href="../sitemap/SiteMap.html">Sitemap</a></li>
            </ul>
          </div>

          <div>
            <h3>follow us</h3>
            <div class="sm-icons">
              <a href="https://www.facebook.com" target="_blank"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a href="https://www.instagram.com" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="https://www.youtube.com" target="_blank"
                ><i class="fa-brands fa-youtube"></i
              ></a>
              <a href="https://twitter.com" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="https://www.tiktok.com" target="_blank"
                ><i class="fa-brands fa-tiktok"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="student-details">
          <hr>
          <br>
          <p>Web Page Designed By <span>Anjana Ranasinghe</span></p>
          <br>
        </div>
      </div>
    </footer>

    <script src="components.js"></script>
  </body>
</html>
